<div class="container mt-5" [class.card]="!isMainForm" [class.reply-edit-form]="!isMainForm">
    <h2 *ngIf="isMainForm">Comment Form</h2>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input autocomplete="off" type="text" class="form-control" id="name" formControlName="name">
        <div *ngIf="commentForm.get('name')?.hasError('nameLength')" class="text-danger pt-1">
            Name must be at least 3 characters long.
        </div>
        <div *ngIf="commentForm.get('name')?.hasError('forbiddenCharacters')" class="text-danger pt-1">
            Name cannot contain '<' or '>'.
        </div>

      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" id="comment" rows="4" formControlName="comment"></textarea>
        <div *ngIf="commentForm.get('comment')?.hasError('commentLength')" class="text-danger pt-1">
            Comment must be at least 5 characters long.
        </div>
        <div *ngIf="commentForm.get('comment')?.hasError('forbiddenCharacters')" class="text-danger pt-1">
            Comment cannot contain '<' or '>'.
          </div>
      </div>
      <button type="submit" class="btn {{isMainForm ? 'btn-primary' : 'btn-outline-primary me-1 btn-sm'}}" [disabled]="!commentForm.valid">{{submitLabel}}</button>
      <button (click)="handleCancel()" type="button" class="btn {{isMainForm ? 'btn-primary' : 'btn-outline-primary btn-sm'}}" *ngIf="hasCancelButton">Cancel</button>
    </form>
  </div>